{% extends 'navbar.html' %}
{% load static %}
{% block title %}
<style>
    .container{
margin-top:100px; 
}

</style>
<title>Homepage</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row"> 
                <img style="width: 100%;" src="{% static 'reaktor.jpeg' %}">
            </div>
            <div class="row">
                <img style="width: 100%;" src="{% static 'orang.jpeg' %}">
            </div>
        </div>
        <div class="col">
            <div style="margin:100px 50px">
                <h1 style="margin:30px">Selamat Datang</h1>
                <h5 style="margin:30px">Website resmi pertamina untuk registrasi pembelian BBM industri ke seluruh Indonesia</h5>
                <a style="margin:10px 30px" type="button" class="btn btn-primary" href="{% url 'home:sign_up' %}">Sign Up</a>
            </div>
            
        </div>
      </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock%}