{% extends 'navbar.html' %}
{% load static %}
{% block title %}
<style>
    #signup-container{
margin-top:100px; 
}

</style>
{% endblock %}
{% block content %}
<div id="signup-container">
        <div class="row">
            <div class="col">
                <div id="signup-title">
                    <h2 style="margin-left: 50px;">Account Registration</h2>
                </div>
                <div>
                    <hr id="hr-line">
                </div>
                <div style="margin-left: 50px;">
                    <form method="POST">
                        {% csrf_token %}
                        <div id="signup-form">
                            <h4>Institution Info</h4>
                            <h5>Silahkan isi data perusahaan Anda</h5>
                            <div class="form-group">
                                <label>Zip Code</label>
                                <input class="form-control" id="id-name" type="Integer" name="zipcode" required>
                            </div>
                            <div class="form-group">
                                <label>Institution Name</label>
                                <input class="form-control" id="id-email" type="text" name="institution_name" required>
                            </div>
                            <div class="form-group">
                                <label>Shipping Address</label>
                                <input class="form-control" id="id-email" type="text" name="shipping_address" required>
                            </div>
                            <h5>Set up your log in info</h5>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" id="id-password" type="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" id="id-password" type="password" name="password1" required>
                            </div>
                            <div class="form-group">
                                <label>Konfirmasi Password</label>
                                <input class="form-control" id="id-password-confirmation" type="password" name="password2" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Daftar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <img src="{% static 'kilang3.jpg'%}" style="width: 100%;height: 100%;">
            </div>
        </div>
</div>
{% endblock%}