{% extends 'navbar.html' %}
{% load static %}
{% block title %}
<style>
    #signin-container{
margin-top:100px; 
}

</style>
{% endblock %}
{% block content %}
<div id="signin-container">
        <div class="row">
          <div class="col">
            <div style="margin-left: 50px;">
                <form method="POST">
                    {% csrf_token %}
                    <div id="signup-form">
                        <h3>Welcome!</h3>
                        <h4>Don't have account, <a href="{% url 'home:sign_up' %}">Sign Up</a></h4>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" id="id-password" type="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" id="id-password" type="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Daftar</button>
                    </div>
                </form>
            </div>
          </div>
          <div class="col">
            <img src="{% static 'orang2.jpeg'%}" style="width: 100%;height: 100%;">
          </div>
        </div>
</div>
{% endblock%}