{% extends 'navbar2.html' %}
{% load static %}
{% block title %}
<style>
    #pemesanan-container{
margin-top:100px; 
}

</style>
{% endblock %}
{% block content %}
<div id="pemesanan-container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Lokasi</th>
            <th scope="col">Jumlah</th>
            <th scope="col">Tanggal Pengiriman</th>
            <th scope="col">Transportir</th>
          </tr>
        </thead>
        
        <tbody>
            {% for pesanan in bbm %}
          <tr>
            <td>{{ pesanan.lokasi }}</td>
            <td>{{ pesanan.jumlah }}</td>
            <td>{{ pesanan.tanggal_pengiriman}}</td>
            <td>{{ pesanan.transportir}}</td>
          </tr>
          {% endfor %}
        </tbody>
        
      </table>
</div>
{% endblock%}