{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    {% block title %}

    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm p-3 mb-5" id="navigation" style='background-color: white;'>
    <div id="left-nav">
        <a class="navbar-brand" href="#" id="logo">
            <img src="{% static 'Pertamina_Logo.png' %}" alt="" id="logo" style="height: 50px;width: 200px;">
        </a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-link nav-item"href="{% url 'pemesanan:pemesanan' %}">Form Pemesanan</a>
            <a class="nav-link nav-item"href="{% url 'pemesanan:lihatPemesanan' %}">Lihat Pemesanan</a>
            <a class="nav-link nav-item"href="{% url 'home:sign_out' %}">Sign Out</a>
            <a class="nav-link nav-item">Halo, akun {{ user.email }}</a>
        </div>
    </div>
    </nav>
{% block content %}


{% endblock %}
</body>



</html>