{% extends 'navbar2.html' %}
{% load static %}
{% block title %}
<style>
    #pemesanan-container{
margin-top:100px; 
}

</style>
{% endblock %}
{% block content %}
<div id="pemesanan-container">
    <div class="row">
        <div class="col">
            <div style="margin-left: 50px;">
            <div id="signup-title">
                <h2>Form Pemesanan</h2>
            </div>
            <div>
                <h5>Silahkan isi data berikut sesuai dengan pesanan BBM anda</h5>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <div id="signup-form">
                        <div class="form-group">
                            <label>Lokasi Pembelian</label>
                            <input class="form-control" id="id-name" type="text" name="lokasi" placeholder="Lokasi Pembelian" required>
                        </div>
                        <div class="form-group">
                            <label>Jumlah BBM (kl)</label>
                            <input class="form-control" id="id-email" type="Integer" name="jumlah" placeholder="Jumlah BBM" required>
                        </div>
                        <div class="form-group">
                            <label>Tanggal Pengiriman</label>
                            <input class="form-control" id="id-email" type="date" name="tanggal_pengiriman" value="{{value|date:'Y-m-d'}}"required>
                        </div>
                        <div class="form-group">
                            <label>Transportir</label>
                            <input class="form-control" id="id-password" type="text" name="transportir" placeholder="Transportir" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            </div>
            
        </div>
        <div class="col">
          <img src="{% static 'kilang2.jpeg' %}" style="height: 100%;width:100%;">
        </div>
      </div>
    </div>
</div>
{% endblock%}